# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*
migrations/*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3

en.inc.php
images
passenger_wsgi.py
se.inc.php
wp-admin
wp-config.php
wp-links-opml.php
wp-settings.php
error_log
index.php
public
static
wp-blog-header.php
wp-content
wp-load.php
wp-signup.php
css
fonts
js
media
readme.html
update_product.php
wp-comments-post.php
wp-cron.php
wp-login.php
wp-trackback.php
html
license.txt
mysite.html
wp-activate.php
wp-config-sample.php
wp-includes
wp-mail.php
xmlrpc.php
.htaccess
.python-version